body {
  font-family: Arial, sans-serif;
  background-color: #c5d1d2;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 36px;
  color: #333;
  text-transform: uppercase;
}

.balance {
  background: linear-gradient(135deg, #43cea2, #185a9d);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  animation: pulse 2s infinite alternate;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

.transactions {
    background: linear-gradient(135deg, #185a9d,#43cea2);
    padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.transactions h2 {
  margin-top: 0;
  font-size: 24px;
  color: #fff;
}

.transaction-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  background: linear-gradient(135deg, #577fa7, #ab9df3);
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.transaction-item .type {
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  margin-right: 10px;
}

.transaction-item .amount {
  font-weight: bold;
  color: #fff;
}

.transaction-item .description {
  flex-grow: 1;
  margin-left: 10px;
  color: #fff;
  font-size: 14px;
}

.transaction-item .edit-btn,
.transaction-item .delete-btn {
  background-color: #ff5e5e;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.transaction-item .edit-btn:hover,
.transaction-item .delete-btn:hover {
  background-color: #d63c3c;
}

.add-transaction {
  background: linear-gradient(135deg, #a18cd1, #fbc2eb);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.add-transaction h2 {
  margin-top: 0;
  font-size: 24px;
  color: #fff;
}

.add-transaction label {
  display: block;
  margin-bottom: 5px;
  color: #fff;
}

.add-transaction input[type="number"],
.add-transaction input[type="text"],
.add-transaction select {
  width: 100%;
  padding: 5px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  /* color: #fff; */
  background-color: rgba(255, 255, 255, 0.1);
}

.add-transaction button {
  background-color: #3a9cff;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-transaction button:hover {
  background-color: #1877d3;
}
